body{
  height: 30vh;
  justify-content:center ;
  align-items: center;
  display: flex;
}  
  
  
  
  input{
        opacity: 0;
       width: 0.1px;
       height: 0.1px;
       position: absolute;
     
  }
   
  label {
    background-color: rgb(20, 54, 54);
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    width: 120px;
    left: 50%;
    position: absolute;
    transform:translateX(-50%);
    
  } 

i{
  padding-left: 10px;
}

.img{
    height: 300px;
    width:300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 400px;
}

.file-input{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-content: center;
  align-items: center;
  position: relative;
}


