body{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;

}


div{
    text-align: center;
    width: 300px;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    background-color: antiquewhite;
    border-radius: 20px;
}

input{
    font-weight: bold;
    font-style: italic;
    background-color: red;
    margin-bottom: 10px;
}

 span{
    display: none;
}

.span.show{
  display: block;
}




