body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}
.container{
    width: 600px;
    height: 300px;
    background-color: rgb(136, 152, 238);
    display: flex;
    
}

#result{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(45deg,#ecb9b9,#4141e7);
    margin-top: 45px;
    margin-left: 70px;
    border: 2px solid black;
    
}

.title{
    width: 600px;
    position: absolute;
    top: 140px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    background-color:rgb(20, 91, 243) ;
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;

}

input[type='color']{
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    background: none;
  
}


input[type='submit']{
  margin-top: 50px;
  width: 100px;
  height: 25px;
  background-color: bisque;
  font-weight: bolder;
  font-style: italic;
  
}




.param{
    width: 270px;
    height: 190px;
    margin-top: 45px;
    margin-left: 20px;
    text-align: center;
    border: 2px solid black;
    padding-top: 10px;
}

label{
    margin-top: -2px;
    font-style: italic;
    font-weight: bold;
}

.input_container{
    background-color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 240px;
    margin-left: 15px;
    margin-top: 5px;
}



@media (max-width:600px) {
    .container{
        width: 307px;
        height: 520px;
        
        display: block;
        
    }


    .title{
        width: 307px;
        position: absolute;
        top: 10px;
        
    
    }


    #result{
        
        margin-left: 55px;
        
        
    }
    
}
